<div class="w-full">
  <h1 class="text-3xl font-bold mb-6">My Tasks</h1>

  <%= render "form", task: @task %>

  <div class="space-y-2">
    <% @tasks.each do |task| %>
      <%= render "task", task: task %>
    <% end %>
  </div>
</div>