<div class="w-full">
  <h1 class="text-3xl font-bold mb-6">My Tasks</h1>

  <%= turbo_frame_tag "task_form" do %>
    <%= render "form", task: @task %>
  <% end %>

  <div id="tasks" class="space-y-2">
    <%= render @tasks %>
  </div>
</div>